{% extends 'music/base.html'%}
{% block title%}Album Details{% endblock%}
{% block content%}
<div class="container">
    <h1>Details of the album</h1>
    <div class="jumbotron" id="details" style="background-image:url('{{album.album_logo}}');">
    <h1 class="display-3">{{album.title}} {{album.year}}</h1>
    <p class="lead">{{album.singer}}</p>
    <hr class="my-4">
    {% if error_message %}
        <p>{{error_message}}</p>
    {% endif%}
    <form action="" method="post">
        {% csrf_token %}

    <ul>
        {% for song in album.song_set.all %}
            <li><input type="radio" id="song{{forloop.counter}}" name="song" value="{{song.id}}"/> {{song.song_title}} - {{song.file_type}}
                {% if song.is_fav %}
                        <i class="fa fa-heart"></i>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

        <button class="btn btn-primary btn-lg" type="submit" >Add to <i class="fa fa-heart" style="color:red"></i></button>
        </form>
</div>
</div>
{% endblock%}